<div class="post">
  <div class="header">
    <h1>Post</h1>
    <button class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>11.12.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cupiditate ducimus explicabo facilis
      laudantium magnam natus nihil nostrum rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
      assumenda cupiditate ducimus explicabo facilis laudantium magnam natus nihil nostrum rem.
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cupiditate ducimus explicabo facilis
      laudantium magnam natus nihil nostrum rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
      assumenda cupiditate ducimus explicabo facilis
      laudantium magnam natus nihil nostrum rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda cupiditate ducimus explicabo facilis
      laudantium magnam natus nihil nostrum rem.</p>
  </div>
</div>
