<div *ngIf="form; else loading">
  <h1>Редактирование поста</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control"
         [ngClass]="{invalid: form.get('title').invalid && form.get('title').touched}"
    >
      <label for="title">Название поста:</label>
      <input type="text" id="title" formControlName="title">
      <div
        *ngIf="form.get('title').invalid && form.get('title').touched"
        class="validation"
      >
        <small *ngIf="form.get('title').errors.required">Заполните поле.</small>
      </div>
    </div>
    <div class="form-control">
      <label>Контент поста:</label>
      <quill-editor formControlName="text"></quill-editor>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Обновить</button>
  </form>
</div>
<ng-template #loading><p class="text-center">Загрузка...</p></ng-template>
