<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>
  <div class="form-control"
       [ngClass]="{invalid: form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Почта:</label>
    <input type="email" id="email" formControlName="email">
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required"> Заполните поле </small>
      <small *ngIf="form.get('email').errors.email"> Заполните поле email </small>
    </div>
  </div>
  <div class="form-control"
       [ngClass]="{invalid: form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Пароль:</label>
    <input type="password" id="password" formControlName="password">
    <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation">
      <small *ngIf="form.get('password').errors.required">Заполните поле</small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас
        {{form.get('password').errors.minlength.actualLength}}
        символа.</small>
    </div>
  </div>
  <button class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid || submitted">Войти
  </button>
</form>
